.main-controle-div{
 
margin:  50px;

}
td, th{
 padding:  5px;
 margin: 15px;
 width: 100px;
}
td{
 background: #e2ffe0;
 font-size: 15px;
 text-align: center;
}
th{
 background: #cee8e8;
 font-size: 20px;
}
tr{
 height: 55px;
 border: 1px solid #333;
}
